* {
  box-sizing: border-box; }

body {
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  background-color: #000;
  margin: 0;
  box-sizing: border-box; }

a {
  color: #fff;
  text-decoration: none; }

a:hover {
  color: #ccc;
  text-decoration: underline; }

.hidden {
  visibility: hidden; }

/* HEADER */
header {
  width: 100%;
  padding: 20px 30px 30px;
  background: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  position: sticky;
  top: 0;
  z-index: 3; }
  header #header-title * {
    margin: 0;
    font-size: 28px; }
  header nav ul {
    text-align: right;
    font-size: 28px;
    list-style: none;
    margin: 0; }

/* HEADER END */
/* MAIN CONTENT */
#home {
  width: 100%;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2; }
  #home article {
    background-color: lightcoral; }
    #home article h3 {
      font-size: 45px;
      display: block;
      width: 100%;
      margin: 0;
      padding: 0 30px;
      user-select: none; }

.work-open {
  cursor: pointer;
  background-color: floralwhite;
  transform: translateY(-10px); }

.work {
  border: 2px solid black;
  border-bottom: 0;
  cursor: pointer;
  transition: all .06s; }
  @media only screen and (min-width: 768px) {
    .work:hover:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -10px;
      height: 15px;
      width: 100%;
      box-sizing: border-box;
      background-color: inherit; }
    .work:hover {
      cursor: pointer;
      background-color: floralwhite;
      transform: translateY(-10px);
      transition: all .06s; } }
  .work .work-container {
    display: flex;
    flex-direction: row;
    min-height: 300px;
    max-height: 500px;
    font-size: 18px;
    display: none; }
  .work .work-left {
    width: 35%;
    padding: 15px 30px; }
  .work .work-right {
    width: 65%; }
    .work .work-right ul {
      height: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      overflow: scroll; }
      .work .work-right ul li {
        list-style: none;
        height: 100%; }
        .work .work-right ul li img {
          height: 100%;
          object-fit: contain; }

/* MAIN CONTENT END */
/* FOOTER */
footer {
  width: 100%;
  height: 80px;
  margin: 100px auto 0;
  color: white;
  text-align: center;
  position: static;
  z-index: 0; }
  footer h4 {
    font-weight: 100; }

/* FOOTER END */
/* ABOUT */
#about .wrapper {
  text-transform: uppercase;
  color: white;
  font-size: 22px;
  line-height: 28px;
  font-weight: 500;
  display: flex;
  flex-direction: row; }
  #about .wrapper #leftside {
    width: 50%;
    max-width: 650px;
    margin-right: 100px;
    padding: 0 30px 30px 30px; }
    #about .wrapper #leftside #bio p {
      margin: 20px 0;
      color: white !important; }
    #about .wrapper #leftside #lectures {
      margin-top: 100px; }
      #about .wrapper #leftside #lectures h3 {
        font-size: 22px;
        margin: 20px 0; }
      #about .wrapper #leftside #lectures .year {
        font-size: 25px;
        font-weight: 700; }
  #about .wrapper #rightside {
    width: 50%;
    padding: 0 30px 30px 30px; }
    #about .wrapper #rightside a {
      text-decoration: underline;
      margin-top: 10px;
      display: inline-block; }
    #about .wrapper #rightside a:hover {
      font-style: italic; }
    #about .wrapper #rightside img {
      width: 70%;
      margin-top: 50px; }

/* ABOUT END */
/* LOOSE ARCHIVES */
/* LOOSE ARCHIVES END */
/* MOBILE */
@media only screen and (max-width: 768px) {
  /* HEADER */
  header {
    flex-direction: column;
    padding: 30px 20px;
    height: 70vh;
    position: static;
    top: 0;
    left: 0; }
    header #header-title h1 {
      font-size: 40px; }

  /* HEADER END */
  /* MAIN */
  main article h3 {
    padding: 0 20px;
    font-size: 30px; }

  .work:hover {
    background-color: lightcoral;
    transform: unset; }

  .work-container {
    flex-direction: column; }

  .work-left {
    width: 100%;
    padding: 15px; }

  .work-right {
    width: 100%;
    max-height: 300px; }

  .work-right ul,
  .work-right ul li,
  .work-right ul img {
    max-height: 300px; }

  /* MAIN END */
  /* FOOTER */
  footer {
    position: relative; }

  /* FOOTER END */ }
/* MOBILE END */
