---
layout: default
title: home
---

{% for work in site.works %}
<article class="work closed" style="background-color: {{ work.color1 }}">
    <h3>{{ work.title }}</h3>
    <div class="work-container">
        <div class="work-left">
            <h4>{{ work.type }}</h4>
            <p>{{ work.description }}</p>
            <a>{{ work.link }}</a>
        </div>
        <div class="work-right" style="background-color: {{ work.color2 }}">
            <ul>
                {% for image in page.images %}
                <li><img src="{{ image.image_path }}" alt="{{ image.title}}" /></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</article>
{% endfor %}


<script language="javascript" type="text/javascript" src="{{ "/assets/js/home-containers.js" | relative_url }}"></script>
