---
layout: default
title: home
---

{% for work in site.works %}
<article class="work closed" style="background-color: {{ work.cor_principal }}">
    <h3>{{ work.title }}</h3>
    <div class="work-container">
        <div class="work-left">
            <h4>{{ work.ano }}</h4>
            <h4>{{ work.category }}</h4>
            <p>{{ work.description }}</p>
            {% for link in work.links %}
                <a href="{{ link.url }}">{{ link.text }}</a>
            {% endfor %}
        </div>
        <div class="work-right" style="background-color: {{ work.cor_secundaria }}">

            <ul class="scroller">
                {% for image in work.images %}
                <li><img class="lazy" data-src="https://images.weserv.nl?url=https://josecostatorres.github.io{{ image }}&h=450&q=70&output=webp" src="https://images.weserv.nl?url=https://josecostatorres.github.io{{ image }}&h=300&q=20&output=jpg" alt="Image of this project I did."></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</article>
{% endfor %}

<script defer language="javascript" type="text/javascript" src="assets/js/home.js"></script>